{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_course' %}" >
                    <!--                    <div class="row">-->
                    {% csrf_token %}


                    <div class="col-12">
                        <h5 class="form-title"><span>Update Course </span></h5>
                    </div>

                    {% include 'includes/messages.html' %}


                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Course Name</label>
                            <input type="text" class="form-control" name="course_name" required value="{% for i in corse_name %}{{i.name}}{% endfor %}">
                            <input type="text" class="form-control" name="course_id" value="{% for i in corse_name %}{{i.id}}{% endfor %}" hidden>
                        </div>
                    </div>



                    <br>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Update Course</button>
                    </div>
                    <!--                    </div>-->

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}